MOODLE_IMAGE=docker.io/bitnamilegacy/moodle:latest
MARIADB_IMAGE=docker.io/bitnamilegacy/mariadb:latest

MOODLE_HTTP_PORT=18080
MOODLE_HTTPS_PORT=18443
MAILPIT_UI_PORT=18025
MAILPIT_SMTP_PORT=11025
ADMINER_PORT=18081

MOODLE_HOST=localhost:18080
MOODLE_SITE_NAME=UNI+ Dev
MOODLE_LANG=es
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=Admin123!
MOODLE_ADMIN_EMAIL=admin@example.local

MARIADB_DATABASE=bitnami_moodle
MARIADB_USER=bn_moodle
MARIADB_PASSWORD=bn_moodle_pass
MARIADB_ROOT_PASSWORD=root_moodle_pass

BITNAMI_DEBUG=true
